<ion-grid>
  <ion-row>
    <ion-col size="2" padding>
      <div class="rounded-image">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" />
      </div>
    </ion-col>
    <ion-col size="8" padding>
      <p>Korting op toegang tot wellness Lago Gent Roebroeken</p>
    </ion-col>
    <ion-col size="2" padding>
      <app-points [pointsAmount]="10" [showString]="false"></app-points>
      <p text-center>
        <ion-text color="primary">punten</ion-text>
      </p>
    </ion-col>
  </ion-row>
  <hr>
</ion-grid>