<ion-card class="smartphone" padding>
  <ion-card-header text-center>
    <ion-card-title>Met je smartphone</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ul>
      <li>Ga naar <strong>uitpas.be</strong></li>
      <li>Log in met je UiTPAS</li>
      <li>Scan deze code</li>
    </ul>
    <div class="qr-code">
      <ion-grid>
        <ion-row>
          <ion-col size="8" offset="2">
            <ion-img [src]="'https://via.placeholder.com/200'"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-card-content>
</ion-card>