<ion-card class="card" padding>
  <ion-card-header text-center>
    <ion-card-title>Met je kaart</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ul>
      <li>Hou je UiTPAS tegen het symbool op dit toestel</li>
    </ul>
    <div class="nfc">
      <ion-grid>
        <ion-row>
          <ion-col size="10" offset="1">
            <ion-img [src]="'../../../assets/nfc.svg'"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-card-content>
</ion-card>