<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size="10" offset="1">
        <location-header [loadedLocation]="event.organiserName"></location-header>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8" offset="2">
        <ion-img [src]="'assets/uitpas.svg'"></ion-img>
        <h1 text-center>Spaar een punt</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <app-smartphone></app-smartphone>
      </ion-col>
      <ion-col size="6">
        <app-nfc></app-nfc>
      </ion-col>
    </ion-row>
    <ion-row text-center class="more">
      <ion-col size="12">
        <h2>UiTPAS is de ideale vrijetijdspas</h2>
        <ion-button
                routerLink="/home/discover"
                routerDirection='root'
                fill="outline"
                size="large">Ontdek UiTPAS</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
